header,
section,
footer {
  margin: 10px;
}

body {
  background: url(images/background.png) no-repeat;
}

header {
  display: flex;
}

.logo {
  font-size: 22px;
  color: #6070ff;
}

.menu {
  position: absolute;
  right: 10px;
}

.section-title {
  font-size: 40px;
}

.footer-text {
  color: #7f8cff;
}

.footer-social_network-content {
  display: flex;
}

.footer-social_network {
  margin: 5px;
}

body {
  vertical-align: center;
}
