@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800&display=swap");

header,
section,
footer {
  margin: 10px;
}

body {
  background: url(images/background.png) no-repeat;
}

header {
  display: flex;
}

.logo {
  font-size: 22px;
  color: #6070ff;
  font-family: "Poppins", "sans-serif";
  font-style: normal;
  text-decoration: none;
}

.menu {
  position: absolute;
  right: 10px;
}

.section-title h1 {
  font-family: "Poppins", "sans-serif";
  font-style: normal;
}

.section-content p {
  font-family: "Poppins", "sans-serif";
  font-style: normal;
}

.footer-text {
  color: #7f8cff;
}

.footer-social_network-content {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.footer-social_network {
  margin: 5px;
}
