@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  background: #e5e5e5;
}

header,
section {
  padding: 24px;
}

header {
  background: #fff;
  display: flex;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.logo a {
  color: #6070ff;
}

.menu {
  position: absolute;
  right: 10px;
}

.card_date ul,
.card_lenguajes ul {
  display: flex;
}

nav .menu ul {
  display: none;
}

section {
  min-height: 588px;
}

section.sectionOne {
  background: url(images/background.png) #fff no-repeat;
  background-size: 100%;
  border-radius: 0 0 0 50px;
}

.section-title h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 40px;
  color: #172b4d;
  margin: 100px 0 0 0;
}

.section-content p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #344563;
}

.footer-title {
  margin: 30px 0 25px 0;
}

.footer-title a {
  color: #7f8cff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.footer-social_network-content {
  display: flex;
  padding: 0;
  align-items: end;
}

.footer-social_network {
  margin: 0 8px;
}

.footer-social_network:hover {
  transform: scale(1.5);
  transition-timing-function: linear;
}

.card {
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin: 100px 0 0 0;
  display: flex;
  flex-direction: column;
}

.card_picture {
  text-align: center;
  padding: 10px;
}

.card_picture img {
  width: 100%;
}

.card_content {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin: 0 auto;
  padding: 0 10px 30px 10px;
}

.card_title {
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
}

.card_title,
.card_date,
.card_info {
  margin: 0 0 20px 0;
}

.card_info p {
  width: 100%;
}

.card_lenguajes {
  margin: 0 0 40px 0;
  color: #6070ff;
}

.card_date ul li,
.card_lenguajes ul li {
  margin: 0 10px 0 0;
}

.card_date ul li {
  color: #7a869a;
  font-weight: 600;
  font-size: 13px;
}

.card_date ul li.card_date-active {
  color: #344563;
}

.card_lenguajes span {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
}

.card .card_button,
.about .card_button a {
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  padding: 12px;
  background: #fff;
}

.about .card_button a {
  color: #396df2;
}

.about .card_button {
  max-width: 165px;
}

.card .card_button:hover,
.about .card_button a:hover {
  background: #6070ff;
  color: #fff;
}

.card .card_button:active,
.about .card_button a:active {
  background: #2230d2;
  border: 1px solid #2230d2;
  color: #fff;
}

.about {
  background: #fff;
  border-radius: 0 50px 0 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.about_title {
  color: #172b4d;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin: 90px 0 12px 0;
}

.about_info {
  color: #344563;
}

.about_footer {
  margin: 0 0 37px 0;
}

.detail {
  margin: 80px 0 0 0;
}

.detail_section_title {
  display: flex;
  border-bottom: 1px solid #dfe1e6;
  padding: 20px 0;
}

.detail_section_title div {
  flex-shrink: 0;
  flex-grow: 1;
}

.detail_section_title .text {
  font-weight: 500;
  font-size: 20px;
}

.detail_section_title .icon {
  background: url(images/arrow_right.png) no-repeat 0 -6px;
  width: 40px;
  position: absolute;
  right: 5px;
  height: 25px;
}

.detail_section_title.active {
  border: none;
}

.detail_section_title.active .icon {
  background: url(images/arrow_down.png) no-repeat 0 -6px;
}

.detail_lenguaje {
  color: #253858;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 0 10px 10px 10px;
  display: flex;
}

.detail_lenguaje p {
  padding: 13px 0 0 13px;
}

/* Form */

.form-section {
  background: #fff;
  padding: 0;
}

.form-section form {
  background: url(images/background-form.png) no-repeat #6070ff;
  background-position-x: right;
  background-position-y: 20px;
  background-size: 60%;
  border-radius: 60px 0 0 0;
  min-height: 588px;
  padding: 10px;
}

.form-section form .form-title {
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin: 90px 0 20px 0;
  text-align: center;
}

.form-section form .form-info {
  color: #ebebff;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 0 5% 50px 5%;
}

.form-section form ul {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  padding-right: 45px;
}

.form-section form ul li {
  margin: 10px 0;
}

.form-section form input,
.form-section form textarea,
.form-section form button {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  color: #172b4d;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  margin: 0 auto;
  padding: 15px 20px;
  width: 100%;
}

.form-section form input::placeholder,
.form-section form textarea::placeholder {
  color: #b3bac5;
}

.form-section form textarea {
  height: 125px;
}

#form-button {
  text-align: center;
}

.form-section form button {
  width: unset;
  color: #6070ff;
  margin-bottom: 45px;
}

.form-section form button:hover {
  background: #6070ff;
  color: #fff;
}

.form-section form button:active {
  background: #2230d2;
  border: 1px solid #2230d2;
  color: #fff;
}

#black_line {
  background: #0d151e;
  border-radius: 10px;
  position: relative;
  width: 134px;
  height: 5px;
  bottom: 0;
  left: calc(50% - 134px / 2 - 0.5px);
}

/* end Form */

@media (min-width: 768px) {
  .logo {
    padding-left: 10%;
  }

  nav .menu {
    right: 10%;
  }

  .detail_lenguaje img {
    height: 48px;
    width: 48px;
    margin: 12px;
  }

  nav .menu img {
    display: none;
  }

  .detail_section ul {
    display: flex;
  }

  nav .menu ul {
    color: #344563;
    display: flex;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    gap: 15px;
  }

  section.sectionOne {
    background: url(images/background-desktop.svg) #fff no-repeat;
    background-size: 100%;
    border-radius: 0 0 0 100px;
    height: 798px;
    padding-left: 16%;
    padding-right: 19%;
  }

  .section-title h1 {
    color: #172b4d;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    margin: 225px 0 0 0;
  }

  .section-content p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin: 20px 0;
  }

  .footer-title a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .card {
    border-radius: 30px;
    display: block;
    overflow: auto;
    padding: 25px;
  }

  .card .card_picture {
    padding: 0;
  }

  .card .card_picture img {
    width: 100%;
  }

  .card .card_content {
    padding: 0;
    width: 50%;
  }

  .card:nth-child(even) .card_picture {
    width: 50%;
    float: right;
  }

  .card:nth-child(odd) .card_picture {
    width: 50%;
    float: left;
  }

  .card:nth-child(even) .card_content {
    width: 50%;
    float: left;
  }

  .card:nth-child(odd) .card_content {
    width: 50%;
    float: right;
  }

  .card_title,
  .card_date,
  .card_info,
  .card_lenguajes,
  .card_button {
    margin-left: 50px;
  }

  .card_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-top: 50px;
  }

  .card_date ul li {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .card_info {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: 30px;
  }

  .card_lenguajes {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  .about {
    border-radius: 0 100px 0 0;
    display: block;
    padding-bottom: 200px;
  }

  .about #about-left_column {
    float: left;
    padding: 50px 30px 30px 30px;
    width: 35%;
  }

  .about .detail {
    float: right;
    width: 56%;
    padding-top: 60px;
  }

  .detail_section .detail_section_title {
    width: 80%;
  }

  .detail_section_title .text {
    width: 90%;
    padding-left: 20px;
  }

  .detail_section_title .icon {
    position: relative;
  }

  .detail_section .detail_lenguaje {
    display: block;
    height: 120px;
    width: 122px;
  }

  .detail_lenguaje p {
    padding: 0 0 0 13px;
  }

  .about .card_button {
    margin-left: 0;
  }

  .form-section form {
    background: url(images/background_form-desktop.svg) no-repeat #6070ff;
    background-position: center;
    background-size: 90%;
  }

  .form-section form .form-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-top: 130px;
  }

  .form-section form .form-info {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin: 0 auto 30px auto;
    width: 570px;
  }

  .form-section form ul {
    width: 447px;
  }

  #black_line {
    display: none;
  }
}
